html {
    height: 100%;
  }
  html body {
    height: 100%;
    overflow: hidden;
  }
  html body .container-fluid.body-content {
    position: absolute;
    top: 50px;
    bottom: 30px;
    right: 0;
    left: 0;
    overflow-y: auto;
  }
  header {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      background-color:#ff5705;
      height: 60px;
  }
  footer {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      background-color:rgb(31, 30, 30);
      height: 30px;
  }
  h6{
    text-align: center;
    color: rgb(202, 186, 186);
  }